<div class="mini-cart">
  <header class="mini-cart__header">
    <div class="mini-cart__header-item">
      <div
        class="cart-icon-wrapper cart-icon-wrapper--has-items"
        {% if cart.item_count == 0 %}
          style="display: none"
        {% endif %}
      >
        <span class="cart-icon-wrapper__count">{{ cart.item_count }}</span>
        {% render 'icon' with 'cart-full' %}
      </div>

      <div
        class="cart-icon-wrapper cart-icon-wrapper--empty"
        {% unless cart.item_count == 0 %}
          style="display: none"
        {% endunless %}
      >
        {% render 'icon' with 'cart-empty' %}
      </div>

      <header class="mini-cart__header-title">{{ 'cart.general.title' | t }}</header>
    </div>

    <a href="#" class="mini-cart__close mini-cart__header-item" data-action="close-mini-cart">
      {% render 'icon' with 'close-thin' %}
    </a>
  </header>

  <section class="mini-cart__content">
    {% render 'mini-cart-content' %}
  </section>
</div>
