<header class="page__header">
  {% include 'breadcrumb' %}

  {% if section.settings.show_rss %}
    <div class="blog__rss">
      <div class="inner">
        <a href="{{ blog.url }}.atom">
          {{ 'blog.general.rss' | t }} {% include 'icon' with 'rss' %}
        </a>
      </div>
    </div>
  {% endif %}

  <div class="page__header-wrapper">
    <div class="container">
      <h1 class="page__title">{{ blog.title }}</h1>
    </div>
  </div>
</header>

{% include 'pagination.vars.arr', page_size: section.settings.blog_limit, total: section.blocks.size %}

{% for block in section.blocks limit: page_size %}
  {% if block.type == 'blog_category' %}
    {% assign current_blog = blogs[block.settings.blog] %}
    {% if current_blog %}
      <div class="page__content">
        <div class="inner">
          <h2 class="article__title">{{ current_blog.title | link_to: current_blog.url }}</h2>
          <div class="grid grid--large grid--gallery grid--gallery-large">
            {% for article in current_blog.articles limit: block.settings.article_limit %}
              {% include 'article-preview', show_author: section.settings.show_author %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}

{% include 'pagination.arr' %}

{% schema %}
{
  "name": "All Blog page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_rss",
      "label": "Show RSS feed",
      "default": true
    },
    {
      "type": "range",
      "id": "blog_limit",
      "label": "Number of blog to show",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
      {
        "type": "blog_category",
        "name": "Blog Category",
        "settings": [
          {
            "type": "blog",
            "id": "blog",
            "label": "Select Blog"
          },
          {
            "type": "range",
            "id": "article_limit",
            "label": "Number of articles to show",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 3
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Multi-blog Homepage",
        "category": "Blog",
        "blocks": [
          {
            "type": "blog_category",
          },
          {
            "type": "blog_category",
          }
        ]
      }
    ]
}
{% endschema %}