<header class="page__header">
  {% render 'breadcrumb' %}

  <div class="page__header-wrapper"></div>
</header>
<div style="margin:0 auto;" class="pxFormGenerator" id="5-h8rylBUnqB3tGV_7Ss-w"></div>
<section class="page__content">
  <div class="container container--shrink">
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</section>
